{% extends 'mailing/base_template.html' %}
{% block content %}


<div class="container my-4 text-left">
    <div class="">
        <h1>Создавайте рассылки за считаные минуты</h1>
        <h2>Сервис email-рассылок BitStore.</h2>
        <p>Отправляйте красивые письма, делитесь контентом и привлекайте больше платящих клиентов.</p>
        <a class="" href="">Попробовать бесплатно</a>
    </div>
    количество рассылок всего: {{ total_mailings }}<br>
    количество активных рассылок: {{ active_mailings }}<br>
    количество уникальных клиентов для рассылок: {{ unique_clients }}<br>
    статьи из блога: <br>
    {% for articles in random_articles %}
    <p> - {{articles.title}}</p>
    {% endfor %}
</div>
{% endblock %}