{% extends 'mailing/base_template.html' %}

{% block content %}

<div class="container">
    <div>
        <a href = "{% url 'mailing:mailingsrv_list' %}">Назад</a> /
    </div>
</div>

<div class="container my-4">
    <div class="row text-start">

        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Владелец рассылки: </td>
                            <td>{{ object.owner}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Получатели рассылки: </td>
                            {% for recipient in object.recipients.all %}
                                <td>{{ recipient }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="w-25">Письмо для рассылки: </td>
                            <td>{{object.mail }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Начало рассылки: </td>
                            <td>{{object.start }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Время следующей рассылки: </td>
                            <td>{{object.next }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Время завершения рассылки: </td>
                            <td>{{object.finish }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Статус рассылки: </td>
                            <td>{{object.status }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Период рассылки: </td>
                            <td>{{object.frequency }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Активность рассылки: </td>
                            <td>{{object.is_activated }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}