{% extends 'mailing/base_template.html' %}
{% block content %}

<div class="container my-4">
    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:add_mail' %}">Создать сообщение</a>
</div>

<div class="container">

    <div class="row">
        {% for object in object_list %}
        {% if perms.mailing.can_view_mail or user == object.owner or user.is_superuser %}
        <div class="col-3">
            <div class="card text-center">
                <div class="card-header">
                    <p>{{object.subject}}</p>
                    <p>{{object.email}}</p>
                </div>
                <div class="card-body">
                    <p class="card-text">{{object.content|slice:":200" }}</p>
                    <a href="{% url 'mailing:mail_detail' object.pk %}"
                       class="btn btn-block btn-outline-primary btn-sm">Подробнее</a>

                    {% if user == object.owner or user.is_superuser %}
                    <a href="{% url 'mailing:edit_mail' object.pk %}" class="btn btn-outline-primary btn-sm">Редактировать</a>
                    <a href="{% url 'mailing:delete_mail' object.pk %}" class="btn btn-outline-danger btn-sm my-1">Удалить</a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}