{% extends 'mailing/base_template.html' %}
{% block content %}

<div class="text-left">
    <h4 class="display-10">{{ title }}</h4>
</div>

<div class="container my-4">
    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blogpost_form' %}">Добавить блог</a>
</div>

<div class="container text-center">
{% for object in object_list %}
<div class="col-11">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object }}</h4>
        </div>
        <div class="card-body">{{ object.content|truncatechars:300 }}</div>
        <div class="card-body">
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:blogpost_detail' object.pk %}">Просмотр</a>
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:blogpost_edit' object.pk %}">Редактировать</a>
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:blogpost_delete' object.pk %}">Удалить</a>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}
